*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter",sans-serif;

}

.branco {
    color: white;
}

.cinza {
    background-color: rgba(128, 128, 128, 0.719);
}

#campoConsulta{
    position:relative;
    min-height:80px;
}


#campoFase{
    display:none;
}



body{
    min-height:100vh;
    padding-bottom:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #040013;
    background-size: cover;     
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

footer{
    background-color: #262E36;
    color:#fffdfd;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:60px;
    padding:10px 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.btn-sair {
    width: auto;
    height: 40px;
    padding: 0 20px;
}

.screen{
    display:none;
    width:100%;
    max-width:1100px;
    margin:auto;
    padding:20px;
    color:#fff;
}

.screen.active{
    display:block;
}

.card-login{
    width:430px;
    padding:40px;
    border-radius:22px;
    background:rgba(25,25,35,.45);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.12);
    box-shadow:0 15px 45px rgba(0,0,0,.45),
    inset 0 0 1px rgba(255,255,255,.2);

}

.card-login h1{
    color:rgb(251, 249, 249);
    text-align:center;
    font-size:34px;
    font-weight:600;
    margin-bottom:35px;
    letter-spacing:.5px;

}

.card-login label{
    color:#fffefe;
    font-weight:500;
    margin-bottom:8px;

}

.card-login input{
    background:rgba(255, 30, 30, 0.05);
    border:1px solid rgba(255,255,255,.15);
    color:rgba(114, 124, 111, 0.571);
    transition:.3s;

}

.card-login input::placeholder{
    color:#9b9b9b;
}

.card-login input:focus{
    outline:none;
    border-color:#260376;
    box-shadow:0 0 18px rgba(28, 3, 87, 0.25);

}

.card-login button{
    margin-top:10px;
    height:52px;
    border-radius:40px;
    background:linear-gradient(90deg,#212123fe,#040013);
    font-size:17px;
    letter-spacing:.5px;
    transition:.35s;
}

.card-login button:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.45);

}

.card{
    background:#f0ecec20;
    border-radius:15px;
    box-shadow:0 20px 30px rgba(0,0,0,.12);
    padding:30px;

}

#login.active ~ footer{
    display:none;
}

/* Customização do Card de Login para ficar responsivo */
.card-login {
    max-width: 450px;
    margin: 0 auto;
}

h1, h2, h3{
    margin-bottom:18px;
}

label {
    color:#ffffff;
    font-weight:500;
    margin-bottom:8px;

}

input, select, button {
    width:100%;
    padding:14px;
    border-radius:10px;
    border:1px solid #d1d5db;
    margin-top:2px;
    margin-bottom:14px;
    font-size: 16px; /* Evita zoom automático no iOS */
}

button{
    border:none;
    background:#090f15;
    color:#fff;
    font-weight:700;
    cursor:pointer;
    transition: background 0.2s ease;
}

button:hover {
    background: #4d4747;
}

#btnMov{
    background: #068102;
}

/* Botão Secundário (Limpar / Voltar) */
.btn-secundario {
    background: #6a6767;
    color: #fffdfd;
    border: 1px solid #ffffff;
}

.btn-secundario:hover {
    background: #126620;
}

.botoes{
    display:flex;
    gap:10px;
}


.big-btn{
    height:90px;
    font-size:22px;
}

.success, .error{
    display:none;
    padding:15px;
    border-radius:10px;
    margin-top:12px;
    color:#fff;
}

.success{ background:#094e22 }
.error{ background:#dc2626 }

/* --- GRID DO CABEÇALHO DA OP --- */
.op-header{
    display:grid;
    grid-template-columns:
        1fr 2fr 1fr;
    gap:20px;
}


/* Faz o campo de descrição ocupar toda a largura da linha de forma limpa */
.campo-largo {
    grid-column: 1 / -1;

}

/* --- LAYOUT DA MOVIMENTAÇÃO --- */
.movimentacao-layout{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    gap:20px;
    align-items:center;

}

.box{
    padding:15px;
    border:1px solid #0c0c0c;
    border-radius:10px;
    background:#535050;
    color: white;
}

.box h3{
    text-align:center;
    margin-bottom:20px;
}

.seta{
    font-size:40px;
    font-weight:bold;
    text-align: center;
    color: #ffffff;
}

/* --- RESPONSIVIDADE (MOBILE) --- */
@media (max-width: 768px){
    .movimentacao-layout{
        grid-template-columns: 1fr; /* Transforma as colunas em linhas */
        gap: 10px;
    }

    .seta{
        transform: rotate(90deg);
        margin: 5px auto;
        display: inline-block;
        width: 100%;
    }
    
    header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    
    
    .btn-sair {
        width: 100%;
    }
}

/* --- AJUSTE PARA MONITORES DE 18" (TELAS COM POUCA ALTURA) --- */
@media (max-width: 1366px) and (max-height: 768px), (max-width: 1024px) {
    
    /* 1. Remove margens excessivas das telas */
    .screen {
        margin: 10px auto;
        padding: 10px;
        max-width: 95%;
    }

    .card {
     width:100%;
    max-width:1100px;
    padding:25px;
    background:rgba(20,20,30,.45);
    backdrop-filter:blur(18px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,.08);
    padding:35px;
    box-shadow:0 15px 35px rgba(0,0,0,.45);

}
    }

    /* 2. Reduz o tamanho dos textos e inputs */
    h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    input,
    select,
    button{
    height:48px;
    font-size:16px;
}

    label {
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 2px;
    }

    /* 3. Força os dados da OP a ficarem estritamente em uma linha horizontal */
    .op-header {
        grid-template-columns: repeat(4, 1fr) 2fr; /* 4 colunas pequenas e a descrição maior */
        gap: 10px;
        margin-bottom: 15px;
    }

    .campo-largo {
        grid-column: 1/5; /* Desfaz o comportamento de ocupar a linha toda */
        grid-row: 2; 
         width: 100%;
        max-width: 500px;

    }

    /* 4. Organiza os inputs de Origem e Destino internamente em GRID (Lado a lado) */
    .box {
        padding: 12px;
    }
    
    /* Faz os 3 inputs de dentro do bloco ficarem na horizontal */
    .box .form-group-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    /* 5. Ajusta a seta para o meio */
    .seta {
        font-size: 35px;
    }

    /* Esconde os <br> para economizar preciosos pixels de altura */
    br {
        display: none;
    }
    .tabela-consulta{
    margin-top:25px;
    width:100%;
}

.tabela-consulta table{
    width:100%;
    border-collapse:collapse;
}

.tabela-consulta th:nth-child(1),
.tabela-consulta td:nth-child(1){
    width:12%;
}

.tabela-consulta th:nth-child(2),
.tabela-consulta td:nth-child(2){
    width:42%;
}

.tabela-consulta th:nth-child(3),
.tabela-consulta td:nth-child(3){
    width:18%;
}

.tabela-consulta th:nth-child(4),
.tabela-consulta td:nth-child(4){
    width:18%;
    text-align:right;
    font-weight: 700;
}

.tabela-consulta th:nth-child(5),
.tabela-consulta td:nth-child(5){
    width:10%;
}

#campoTexto,
#campoFase{
    width:100%;
}

#campoFase{
    display:none;
}

#campoFase{
    display:none;
}

.consulta-header{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.consulta-header .campo{
    display:flex;
    flex-direction:column;
}